body {
    background-image: url(../img/fondo_papel_body.png);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;
}

#img-inicio img {
    position: absolute;
    top: 3%;
    left: 3%;
    width: 20vw;
    height: auto;
    align-content: center;
    transition: rotate(360deg) 0.2s ease;
}

.logo2 {
    opacity: 0;
}

.logo1:hover {
    opacity: 0;
}

.logo2:hover {
    opacity: 1;
    transition: 1s;
    transform: rotate(360deg);
}

#inicio {
    display: flex;
    align-items: center;
}

#slider-inicio {
    margin: 0 0 0 25vw;
    font-size: 2.5em;
}

#slider-inicio h1 {
    margin: 0;
    font-size: 1.9em;
}

#slider {
    height: 1.9em;
    line-height: 1.9em;
    overflow: hidden;
}

#slider span {
    font-size: 2em;
    display: block;
    color: rgb(118, 181, 113);
    animation: animationWord 5s infinite;
}

@keyframes animationWord {
    0% {
        transform: translateY(0%);
    }

    30% {
        transform: translateY(0%);
    }

    70% {
        transform: translateY(-105%);
    }

    100% {
        transform: translateY(0%);
    }
}

#buscador {
    margin-right: 3vw;
    padding: 8px;
    font-size: 0.8em;
    border: 1px solid #2c2c2c;
    border-radius: 20px;
}

#carrito {
    margin-right: 2vw;
    width: 2vw;
    border: 2px solid #000000;
    border-radius: 100%;
    padding: 4px;
    height: auto;
}

/* ========================================
   RESPONSIVE - MÓVIL
   ======================================== */

@media (max-width: 768px) {
    body {
        background-image: none;
        background: linear-gradient(45deg, #15014e, #000120);
    }

    header {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
    }

    #img-inicio img {
        width: 30vw;
        height: auto;
        align-content: center;
        transition: rotate(360deg) 0.2s ease;
    }

    #slider-inicio {
        margin: 2vw 0 0 -15vw;
        font-size: 120%;
    }

    #slider span {
        color: rgb(118, 97, 237);
        text-shadow: 0px 0px 15px rgba(89, 0, 255, 0.8);
    }

    #slider-inicio h1 {
        margin: 0;
        font-size: 1.9em;
        color: #3e3a52;
        text-shadow: 0px 0px 8px rgba(89, 0, 255, 0.5);
    }

    .LaGranBiblioteca {
        font-size: 1.35em !important;
    }

    #slider {
        height: 1.9em;
        line-height: 1.9em;
        overflow: hidden;
    }

    #buscador {
        display: flex;
        position: absolute;
        flex-direction: column;
        width: 80vw;
        top: 25%;
        left: 6%;
        padding: 8px;
        font-size: 0.8em;
        border-radius: 20px;
    }
}