.item {
    display: flex;
    flex-direction: row;
}

.imagen-item img {
    margin: 1vw 0 0 7vw;
    width: 15vw;
    height: auto;
    transition: transform 0.3s ease, margin-top 0.3s ease;
}

.info-item {
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
    width: 35vw;
}

.titulo-item {
    font-family: 'Anton', sans-serif;
    font-size: 3vw;
    font-style: normal;
    background: linear-gradient(180deg, #0c384d, #1b7aa7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 1vw 0 0 6vw;
}

.autor-item {
    font-size: 1vw;
    margin: 1vw 0 0 6vw;
    color: #12516e;
}

.descripcion-item {
    font-size: 1.5vw;
    margin: 1vw 0 0 6vw;
    color: #dfdfdf;
    text-align: justify;
    max-width: 35vw;
}

.item-compra-base {
    font-size: 5vw;
    margin: 2vw auto auto auto;
    background: linear-gradient(180deg, #357a38, #8381c7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.item-oferta {
    font-size: 5vw;
    animation: precioRebote 1s ease infinite;
    margin: 2vw auto auto auto;
    background: linear-gradient(180deg, #357a38, #8381c7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.item-compra-oferta {
    font-size: 2vw;
    text-decoration: line-through;
    margin: 0 0 0 2vw;
    background: linear-gradient(180deg, #8a0000, #140000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {

    .item {
        flex-direction: row-reverse;
    }

    .imagen-item img {
        width: 35vw;
        margin: 0 7vw 0 0;
    }

    .titulo-item {
        font-size: 9vw;
        background: linear-gradient(180deg, #0a018e, #006c90);
        text-shadow: 0px 0px 2px rgba(67, 139, 255, 0.5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 1vw 0 0 2vw;
    }

    .autor-item {
        font-size: 4vw;
        color: rgb(61, 98, 129);
        margin: 0 0 0 10vw;
    }

    .descripcion-item {
        font-size: 3.5vw;
        color: #8a8989;
        margin: 5vw 0 0 2vw;
    }
}